.page7 {
    background-size: cover; 
    margin-top: -50px;
    padding-bottom: 0px;
    background: linear-gradient(180deg, rgba(14, 14, 14, 0.9) 3.47%, rgba(13, 13, 13, 0.72) 100%), url('../../images/image-7.2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.question-block {
    max-width: 883px;
    max-height: 460px;
    top: -220px; 
    background: black;
    padding-bottom: 40px;
    position: relative;
    
}

.question-block__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 5px;
    background: #131313;
    font-size: 18px;
}
.question-block__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
.question-block__label {
    margin-left: 5px;
}
.question-block__item {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.button-center {
    margin-top: 35px;
    margin-left: 40%;
}
.icon-circle {
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-left: 15px;
}
.map-image {
    width: 925px;
    height: 465px;
    overflow: hidden;
    max-width: 925px;
    margin: 35px auto;
}
.map-photo {
    margin: -15px -15px -15px -27px;
}
.map-column {
    position: relative;
    top: -200px;
}
