.page2 {
    max-width: 817px;
    margin: 0 auto;
    background-color: white;
}
.title {
    font-family: Yeseva One;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 70px;
}
.white {
    color: #FFFFFF;
}
.string-icon {
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 1.54px;
    margin: 8px;
}
.icon-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon {
    margin-left: 0px;
}
.page2__video-block {
    margin-top: -217px;
}
.page2__video-block_darkened {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url('../../images/6.jpg');
    width: 817px;
    height: 434px;
}
.circle {
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    width: 85px;
    height: 85px;
    border-radius: 42px;
    left:50%;    
    position: relative;
    float: left;
    left: 45%;
    top: 40%;
}
.triangle {
    position: relative;
    float: left;
    left: 44%;
    top: 39%;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 17px solid white;
    cursor: pointer;
}
.string-center {
    background: #E3B873;
    border-radius: 30px;
    width: 55px;
    height: 1.54px;
    margin-top: 62.5px;
    margin-left: 47%;  
    margin-bottom: 34.46px; 
}
.text {
    font-size: 18px;
    line-height: 2em;
    text-align: center;
    color: #363636;
    margin-top: 10px;
    max-width: 681px;
}
.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 94px;
}
.name-input {
    margin-left: 0px !important;
}
.title-input {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    border: transparent;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    width: 231px;
    height: 17px;
    font-size: 14px;
    margin-top: 10px;

}
.checkbox {
    height: 18px;
    font-size: 14px;
    box-sizing: border-box;
    color: #181818;
    margin-top: 39px;
    display: flex;    
    align-items: center;
}

.checkbox input[type="checkbox"] {
    height: 18px;
    width: 18px;
    background-color: #E3B873;
    border-radius: 1px;
    border: 1px solid white;
    
}
.checkbox input[type="checkbox"]:checked {
    height: 5px;
    width: 9px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
}
.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}




